.img{
    width: 150px;
    height: 150px;
    display: inline;
    position: relative;
    
/* }

.a1{
    color: red;
    display: inline;
    position: relative;
    /* margin-top: 100px; */
} */
.demo{
    position: relative;
    margin: 0 auto;
    background: none;
}